.content {
    position: absolute;
    top: 20px;
    left: 250px;
    margin: 0 auto;
    width: 800px;
    min-width: 800px;
    max-width: 100%;
    clear: both;
}

.content .seed-content table {
    width: 800px;
    text-align: center;
}

.content .seed-content table tr {
    height: 30px;
}

.content .seed-content table tr:hover {
    background-color: #fff;
}

.content .seed-content table tr th {
    background-color: #fff;
}

.content .seed-content table tr td {
    background-color: #fff;
    opacity: 0.7;
}